body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container{

    width:200px ;
    height: 200px;
    border: 2px solid brown;
    display: flex;
    justify-content: center;
    align-items: center;
}

